img {
  border-radius: 50%;
  width: 200px;
  height :
}
.row{
  border: 5px transparent;

  padding: 60px;
  border: 2px;
  box-shadow: 5px 5px 20px #8795A1;
  color: #606F7B;
  text-align: center;

}
.round{
height: 80px;
 width: 80px;
 background-color: #563f46;
 border-radius: 50%;
 display: inline-block;
}
