.image {
  border-radius: 50%;
  width: 100px;
  height : 100px;
  float: right;
  margin-right: 50px;
  padding: 10px;
}
.details{
  float: left;
  text-align: center;
  margin: 10px;
  padding: 10px;

}
 .number p {
   display: inline-block;
   text-align: center;
   padding: 5px;
 }
input{
  width: auto;
  margin-bottom: 10px;
  font-size: 14px;
}
.first-row{
  font-size: 14px;
  border: 2px;
  width: 600px;
  height: 200px;
  margin-left: 20%;
  box-shadow: 5px 5px 20px #8795A1;
  text-align: center;
}
.button{
  display: inline-block;
  float: left;
}
