<div class="container">
  <form (keyup)="searchUser()" #myForm="ngForm">
<div class="row">


   <input type="text" placeholder="Search" [(ngModel)]="currentUser" name="currentUser" class="form-control">
</div>
  </form>


  <div class="row first-row">
    <div class="image">


      <img src="{{user.image}}" alt="Github Profile Image" class="img-responsive">



    </div>
    <!-- End of image info -->
    <div class="details">

      <p appHighlight>{{user.names}}</p>
      <div class="number">
      <p>Followers <br> <span>{{user.numFollowers}}</span> </p>
      <p>Following <br> <span>{{user.numFollowing}}</span> </p>
      <p>Repositories <br> <span>{{user.repo}}</span></p>
      </div>



    </div>
    <br>
    <div class="buttons">
      <button type="button" name="button" class="btn"> <a href="{{user.reposite}}">Visit Github Account</a></button>
      <button type="button" name="button" class="btn "> <a href="{{user.reposite}}">View all Repositories</a></button>
      <p>Created {{user.time |date }} - {{user.time | time}} days ago </p>
    </div>

  </div>


</div>
