<div class="container">




  <div class="row">
    <form class="" action="index.html" method="post">
        <input type="text" placeholder="" >

    </form>

    <div class="col col-md-4">
      <img src="{{user.avatar_url}}" alt="Github Profile Image" class="profile">
      <h2>{{user.names}}</h2>
      <h3>{{user.email}}</h3>

    </div>
    <!-- End of profile display info -->

    <div class="col col-md-2">
      <p>{{user.followers_url}}</p>
      <p>Followers</p>

    </div>
    <div class="col col-md-2">
      <p>{{user.following_url}}</p>
      <p>Following</p>

    </div>
    <div class="col col-md-2">
      <p>{{user.repo_url}}</p>
      <p>Repositories</p>
    </div>
    <div class="col col-md-2">
    <button type="button" name="button"> <a href="user.repo_url">Visit Github Account</a></button>
      <button type="button" name="button"><a href="user.repo_url" class="btn">View all Repositories</a></button>
    </div>

  </div>
</div>
